<!-- <div style="display: block" *ngIf='signalRService.data'>
    <canvas baseChart [datasets]="signalRService.data" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType" [colors]="colors" (chartClick)="chartClicked($event)"></canvas>
</div> -->
<!-- <button (click)="chartClicked($event)">enviar mensaje</button>
<div class="container">
    <ul>
        <li *ngFor="let item of signalRService.data">Data: {{signalRService.data.join()}} </li>
    </ul>
</div>
<br><br>
<ul>
    <li>
        <strong>Label: </strong> {{signalRService.bradcastedData}}
    </li>
</ul> -->

<div class="container">
    <app-signal-test></app-signal-test>
</div>